@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Pacifico&family=Rammetto+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-left:10%;
    flex: 20%;
    text-align: left;
    font-family: 'Caprasimo', cursive;
}

.logo h1{
    font-family: 'Caprasimo', cursive;
    color:#180f4a;
    font-size: 34px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;

}

.menu a{
    color:#180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
color:#BA55D3;
}

#botao{
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;

}

#botao:hover{
    border: none;
    background: #BA55D3;
}

.header{
    height: 600px;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headline{
    flex: 40%;
    margin-left: 10%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color:#180f4a;
    padding:0;
    margin:0;

}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

.headline p{
    color:gray;
    text-align: left;

}

.contact-btn{
    display: inline-block;
    background: #BA55D3;
    padding: 20px;
    color:white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background:#180f4a;
}

section{
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
   display: inline-block;
   text-align: center;
   padding: 5%;
   width: 90%;

}

section h2{
    width: 100%;
    font-size: 40px;
    margin:0;
    margin-top:-8%;
    font-family: 'Caprasimo', cursive;
    font-weight: bold;
    color:#180f4a;

}

.servicos{
    display: inline-block;
    margin-top: 5%;

}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin:1%;
    border: 1px solid #BA55D3;
    border-radius: 10px;
    cursor:pointer;
}
.card:hover{
    background: #BA55D3;
    color: white;
    padding: 40px;

}

.texto-oculto{
    display: none;
}

.card:hover img{
    display: none;

}

.card:hover .card-text{
    display:none;

}

.card:hover .texto-oculto{
    display: block;

}

footer{
    margin-top: 100px;
    height: 300px;
    background-image: linear-gradient(180deg,#180F4A,#090422,black);
    text-align: center;
    border-top: 5px solid #BA55D3;
}

.logo-footer{
    padding: 50px;

}

.agencia{
    font-family: 'Caprasimo', cursive;
    color:white;
    font-size: 30px;

}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
}